<h1>Bienvenido a GameNation</h1>
<div>
    <h2>Logueate</h2>
    <form id="login_form">
        <div>
            <label for="">Email</label>
            <input name="email">
        </div>
        <br>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>

        <input type="submit">
    </form>
    <p id="login_error"></p>
</div>
<script src="/js/login.js"></script>