<h1>Bienvenido a GameNation</h1>
<h2>Debes registrarte</h2>
<div>
    <h3>Registrarse</h3>
    <form id="register_form">

        <div>
            <label for="">Nombre</label>
            <input name="first_name">
        </div>
        <br>
        <div>
            <label for="">Apellido</label>
            <input name="last_name">
        </div>
        <br>
        <div>
            <label for="">Email</label>
            <input name="email">
        </div>
        <br>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>

        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>