<div>
    <h1>Restablece tu contraseña</h1>
    <form id="restoredForm">
        <label for="">Correo de tu cuenta</label>
        <input name="email">

        <label for="">Nueva Contraseña</label>
        <input name="password">

        <input type="submit">
    </form>
</div>
<script src="/js/restoredPass.js"></script>